*{
  margin: 0;
}

body {
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
  background-image: url('/images/travelbook-bg.jpg');
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 4rem;
  border: 2px solid;
  background-color: black;
}

nav a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  color: white;
  font-weight: bold;
  margin: 0 1rem 0 1rem;
}

nav a:hover {
  background-color: white;
  color: black;
  transition: all .1s ease;
}

.title-nav {
  padding: 1rem;
  font-size: 1rem;
  color: white;
  position: absolute;
  left: 0;
}

.nav-menu {
  display: flex;
  justify-content: center;

}

.index-main-header {
  display: flex;
  justify-content: center;
}

.index-main-div {
  margin: 0 auto;
}

.index-main-div h1 {
  margin-top: 25%;
  font-size: 72px;
  color: white;
}

.index-main-div form {
  display: flex;
  justify-content: center;
}

.index-main-div button {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border: 2px solid;
  border-color: black;
  font-family: 'poppins';
}

.index-main-div button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

table {
  table-layout: fixed;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

th {
  text-decoration: underline;
  font-size: 16px;
  padding: .5rem 0 .1rem 0;
}

td {
  text-align: center;
  font-size: 13px;
  padding: .5rem;
}

.user-index-header-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.user-index-header-div {
  border-radius: 2px;
  width: 250px;
  margin-top: 1.5rem;
  border: 2px solid;
}

.user-index-header {
  font-size: 14px;
  text-align: center;
  padding: .5rem;
  background-color: white;
}

.no-destination-header-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.no-destination-header-div {
  border-radius: 2px;
  width: 150px;
  margin-top: 1.5rem;
}

.no-destination-header {
  font-size: 11px;
  text-align: center;
  padding: .5rem;
  border: 2px solid;
  background-color: white;
}

.delete-btn {
  display: flex;
  background-color: lightcoral;
  font-weight: bold;
  border: none;
  border-radius: 1px;
  font-size: 6px;
  font-weight: bold;
  font-family: 'poppins';
}

.delete-btn:hover {
  cursor: pointer;
}

.edit-checkbox {
  display: flex;
  margin-top: -10px;
  margin-left: 612px;
  height: 10px;
}

.edit-checkbox:hover {
  cursor: pointer;
}

.no-destination-header {
  margin-top: 1rem;
  text-align: center;
}

.add-destination-header {
  display: flex;
  justify-content: center;
}

.add-destination-header h1 {
  margin-top: 3rem;
  border: 3px solid;
  padding: 4px;
  background-color: white;
}

.new-destination-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.new-destination-square {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  border: 3px solid;
  border-radius: 25px;
  background-color: white;
  width: 400px;
}

.new-destination-form input {
  width: 100%;
  margin: 1px 10px 10px 0;
  border-radius: 2px;
  border: 2px solid;
  font-family: 'poppins';
}

.new-destination-form label {
  font-weight: bold;
}

.new-destination-form select {
  width: 100%;
  margin: 1px 10px 10px 0;
  border-radius: 2px;
  border: 2px solid;
  font-family: 'poppins';
}

.new-destination-form button {
  width: 5rem;
  height: 2rem;
  margin: 8px;
  margin-left: 5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border-color: black;
  background-color: black;
  color: white;
  font-family: 'poppins';
}

.new-destination-form select:hover {
  cursor: pointer;
}

.new-destination-form button:hover {
  cursor: pointer;
  border-color: black;
  background-color: white;
  color: black;
}

.new-destination-form h1 {
  text-align: center;
  margin: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.collapsible {
  width: 625px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid;
  white-space: nowrap;
}

.destination a {
  text-decoration: underline;
  font-weight: bold;
}

.collapsible .destination {
  margin-bottom: 10px;
}

.collapsible .destination::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
}

.edit-form-section {
  display: flex;
  justify-content: center;
  width: 80%;
}

.edit-form-section input {
  margin-right: 4px;
  width: 70%;
  border: 1px solid;
  border-radius: 2px;
  font-size: 11px;
  font-family: 'poppins';
}

.edit-form-section select {
  margin-right: 4px;
  border: 1px solid;
  border-radius: 2px;
  font-size: 11px;
  font-family: 'poppins';
}

.edit-form-section button {
  height: 20px;
  border: 2px solid;
  border-radius: 2px;
  border-color: black;
  background-color: black;
  font-size: 11px;
  color: white;
  font-family: 'poppins';
  padding: 1px;
}

.edit-form-section select {
  cursor: pointer;
}

.edit-form-section button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.collapsible-form {
  display: flex;
  justify-content: center;
  max-height: 1px;
  overflow: hidden;
  line-height: 1;
  position: relative;
  top: 0%;
  opacity: 0.1;
  transition: all 1ms ease;
}

.collapsible input:checked ~ .collapsible-form {
  max-height: 300px;
  padding-bottom: 15px;
  opacity: 1;
  top: 0;
}

.destination-show-header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.destination-show-div{
  border-radius: 2px;
  max-width: 600px;
  margin-top: 1.5rem;
  border: 3px solid;
  padding: 4px;
  background-color: white;
}

.destination-show-div h1 {
  font-size: 2rem;
  text-align: center;
}

.tl-plans-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.plans-list {
  margin-bottom: .3rem;
  font-weight: bold;
}

.plans-list input {
  margin-top: .1rem;
  margin-right: .5rem;
}

.plan-div {
  border: 2px solid;
  padding-left: .2rem;
  background-color: white;
  color: black;
  display: inline-block;
  width: 85%
}

.plan-form {
  display: flex;
}

.add-plan-input {
  border: 2px solid;
  font-family: 'poppins';
}

.add-plan-btn {
  background-color: black;
  border: 2px solid;
  border-color: black;
  color: white;
  padding: .5rem;
  font-family: 'poppins';
}

.add-plan-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.delete-plan-form {
  display: inline;
}

.delete-plan-btn {
  background-color: black;
  color: white;
  border: 2px solid;
  border-color: black;
  margin-left: -4.7px;
  height: 25px;
  font-family: 'poppins';
}

.delete-plan-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.memories-header-container {
  display: flex;
  margin-bottom: 5px;
}

.memories-header-div {
  border: 2px solid;
  font-weight: bold;
  padding: .2rem;
  background-color: white;
}

.tl-memories-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.tl-memories-div textarea {
  width: 525px;
  border: 2px solid;
  font-family: 'poppins';
}

.memory-form {
  display: flex;
}

.memory-log-btn {
  background-color: black;
  border: 2px solid;
  border-color: black;
  color: white;
  padding: 1rem;
  font-family: 'poppins';
}

.memory-log-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.no-memories-div {
  display: flex;
}

.no-memories-div h5 {
  background-color: white;
  border: 1px solid;
  padding: 2px;
  margin: 0 auto;
}

.no-plans-div {
  display: flex;
}

.no-plans-div h5 {
  background-color: white;
  border: 1px solid;
  padding: 2px;
  margin: 0 auto;
}

.memory-div {
  width: 588px;
  margin-bottom: 1.5rem;
  border: 2px solid;
  border-radius: 2px;
  background-color: white;
  color: black;
}

.memory-header-div {
  display: flex;
  border: 2px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-bottom: 1rem;
}

.memory-date {
  padding: 5px 3px 0 5px;
  font-size: 11px;
  display: inline-block;
  width: 95%;
}

.memory-div p {
  padding: 0 1rem 1rem 1rem;
}

.memory-delete-form {
  display: inline;
}

.memory-delete-btn {
  background-color: black;
  color: white;
  font-family: 'poppins';
  font-size: 12px;
  border: 2px solid;
  border-color: black;
}

.memory-delete-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}