<%- include('../partials/header') %>

<div class="add-destination-header">
    <h1>Add Destination</h1>
</div>

<section class="new-destination-form">
    <div class="new-destination-div">
        <form action="/destinations" method="POST" class="new-destination-inputs">
            <label>City:</label>
                <input type="text" name="city">
            <br>
            <label>Country:</label>
                <input type="text" name="country">
            <br>
            <label>Date:</label>
                <input type="text" name="date" value="<%= moment(new Date).format('l'); %>">
            <br>
            <label>Purpose:</label>
                <select name="purpose">
                    <option value="Personal">Personal</option>
                    <option value="Family">Family</option>
                    <option value="Business">Business</option>
                    <option value="Study Abroad">Study Abroad</option>
                </select>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<%- include('../partials/footer') %>